node_modules/
dist/
docs/dist/
docs/.astro/
.vite/
*.tsbuildinfo
.DS_Store
specs/

# examples
examples/**/package-lock.json
examples/**/.astro/
examples/**/.next/
examples/**/.nuxt/
examples/**/.output/
examples/**/next-env.d.ts
